{% extends 'book_room/base.html' %}
{% block content %}
<h2>About Us</h2>
<hr>
<p class="lead">
    Appartments is a Web Application where you can search an appartment to your desirable destination.
    The specific web site was build for a semester course. The course is called Information Systems Implemantation
    and Architecture and it is a main course of the Department of Managment Science And Technology at Athens University
    Of Economics And Business. 
</p>
<p class="lead">
    Appartments was implemented in Django MVC Framework. Django is a high-level Python Web framework that encourages rapid development and clean,
    pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, 
    so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.  
</p>
<br>
<div class="row">
    <span class="border border">
        <h2 style="text-align: center;">
            Django makes it easier to build better Web apps more quickly and with less code.
        </h2>
    </span>
</div>
<br>cti
<p class="lead">
    <strong>Django MVC Framework offers:</strong>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Ridiculously fast.</strong> Django was designed to help developers take applications from concept to completion as quickly as possible.
        </li>
        <li class="list-group-item">
            <strong>Reassuringly secure.</strong> Django takes security seriously and helps developers avoid many common security mistakes.
        </li>
        <li class="list-group-item">
            <strong>Exceedingly scalable.</strong> Some of the busiest sites on the Web leverage Django’s ability to quickly and flexibly scale.
        </li>
    </ul>
</p>

{% endblock %}
