{% extends 'book_room/base.html' %}
{% block content %}
    <h2>Reviews of {{ user.username }}</h2>
    <!--<img class="card-img-top" src="{{ review.room.image_room.url }}" alt="Card image cap">--->
    <div class="card mb-3">
        <div class="card-body">    
            <h5 class="card-title">Review for room {{ object.room.title }} from user {{ review.user.username }}:</h5>
            <p class="card-text">{{ object.review_content }}</p>
            <a href="{% url 'update' object.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'delete' object.id %}" class="btn btn-danger">Delete</a>  
        </div>
    </div>
{% endblock %}